<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">General</h5>
		<div class="gf-form">
			<span class="gf-form-label width-8">Index</span>
			<input type="text" class="gf-form-input max-width-10" ng-model="ctrl.panel.index" ng-change="ctrl.refresh()">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-8">Query</span>
			<input type="text" class="gf-form-input max-width-10" ng-model="ctrl.panel.query" ng-change="ctrl.refresh()">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-8">Mode</span>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="gf-form-input" ng-model="ctrl.panel.mode" ng-options="v for v in ['Active','Completed']" ng-change="ctrl.refresh()"></select>
			</div>
		</div>
		<div class="gf-form" ng-if="ctrl.panel.mode === 'Active'">
            <gf-form-switch class="gf-form" label="Idle" label-class="width-4" checked="ctrl.panel.showIdle" on-change="ctrl.render()"></gf-form-switch>
            <gf-form-switch class="gf-form" label="Running" label-class="width-4" checked="ctrl.panel.showRunning" on-change="ctrl.render()"></gf-form-switch>
            <gf-form-switch class="gf-form" label="Held" label-class="width-4" checked="ctrl.panel.showHeld" on-change="ctrl.render()"></gf-form-switch>
		</div>
	</div>

	<div class="section gf-form-group">
		<h5 class="section-heading">Table</h5>
		<div class="gf-form">
			<span class="gf-form-label width-8">Size</span>
			<input type="text" class="gf-form-input max-width-10" ng-model="ctrl.panel.size" ng-change="ctrl.refresh()">
		</div>
		<gf-form-switch class="gf-form" label="Scroll" label-class="width-8" checked="ctrl.panel.scroll" on-change="ctrl.render()"></gf-form-switch>
	</div>
</div>
